*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: vazir;
    src: url(../src/Vazirmatn-NL-SemiBold.ttf);
}

body {
    background-color:black;
    font-family: vazir;
}

.header-container {
    /* background-color: #353E43; */
    color: honeydew;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
    background-color: #353E43;
    width: 650px;
    height: 100px;
    /* display: flex; */
    /* justify-content: center; */
}

.products {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

div.bar {
    text-align:center;
    color:white;
}