*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: vazir;
}

@font-face {
    font-family: vazir;
    src: url(../src/Vazirmatn-NL-SemiBold.ttf);
}

/* .header-container {
    display: flex;
    justify-content: center;
} */

.header {
    display: flex;
    width:1200px;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom:10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: auto auto;
    background-color: #fff;
    backdrop-filter: blur(10px);
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-menu {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    position: sticky;
    /* change top to 0 if you want the other option */
    top: 70px;
    background: transparent;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

a {
    text-decoration: none;
    color: #000;
}

.wishlist,
.compare {
    margin-top: 10px;
}


.search {
    margin-top: 8px;
}

.sign-up {
    margin-right: 200px;
}

.tabs-container {
    height: 120px;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    /* border: 1px solid red; */
}

.tabs-info {
    margin-top: 13px;
}

.tab-items {
    display: flex;
    flex-direction:row-reverse;
    margin-top: 20px;
    gap: 40px;
    list-style: none;
}

.mobile-section-container {
    display: flex;
    /* border: 1px solid red; */
    width: 1200px;
    margin: auto;
    justify-content: center;
}

.mobile-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}